@mixin backgraund_image ($background-repeat, $background-size, $background-position, $background-color) {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #333333;
}