$font-family--main: "Josefin Sans", "Open Sans", sans-serif;
$color--main: #ffffff;

$font-family--logo: "Josefin Sans", "Open Sans", sans-serif;
$font-size--logo: 48px;
$font-weight--logo: 700;

$font-family--link: "Aleo", "Open Sans", sans-serif;
$font-size--link: 14px;
$color--link: #ffffff;
$font-weight--link: 300;

$font-family--btn: "Aleo", "Open Sans", sans-serif;
$font-size--btn: 16px;
$color--btn: #e8e8e8;

$font-family--text: "Josefin Sans", "Open Sans", sans-serif;
$font-size--text: 16px;
$font-weight--text: 300;
$color--text: #e8e8e8;
$line-height--text: 1.6;
$letter-spacing--text: 0.06em;

$font-family--h3: "Aleo", "Open Sans", sans-serif;
$font-size--h3: 36px;
$font-weight--h3: 300;
$line-height--h3: 1.5;
$color--h3: #ffffff;

$font-family--h6: "Josefin Sans", "Open Sans", sans-serif;
$font-size--h6: 20px;
$font-weight--h6: 300;
$color--h6: #e8e8e8;
$letter-spacing--h6: 0.075em;