.content {
	background-image: url('../img/bg-content.png');
	@include backgraund_image (no-repeat, cover, center, #333333);
}

.content__wrap {
	width: 1110px;
	margin: 0 auto;
	padding: 120px 20px 133px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content__article {
	width: 48%;
	padding-top: 75px;
}
.content__title {
	margin-bottom: 50px;
}

.content__text--1 {
	margin-bottom: 30px;
}

.content__button {
	margin-top: 40px;
	font-family: $font-family--btn;
	font-size: $font-size--btn;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	color: $color--btn;
	
	a {
		padding: 24px 36px;
	}
}

.content__gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	width: 43%;
	padding-left: 67px;
}

.content__image {
	width: 350px;
	height: 220px;
	
	img {
		width: 100%;
	}
}

.content__image--2 {
	margin-top: 5px;
	align-self: flex-end;
}