.aside {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #333333;
}

#dotted {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: 0.001 5;
    fill-rule: evenodd;
    opacity: 0.5;
}

.aside__wrap {
	width: 1110px;
	padding: 0 20px 105px 20px;
	margin: 0 auto;
	margin-top: -10px;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
}

.aside__item {
	padding: 0 63px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aside__title {
	margin: 0;
	margin-top: 16px;
	font-family: "Aleo", "Open Sans", sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.5;
	color: #ffffff;
	
	&:hover {
		color: blue;
	}
}