.testimonial {
	background-image: url('../img/bg-testimonial.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.testimonial__title {
	margin-top: 113px;
}

.wrap__quote {
	width: 1110px;
	margin: 95px auto 200px;
	display: flex;
	flex-direction: row;
	height: 286px;
}

.image__foto--tourist {
	width: 445px;
	height: 100%;
}

.inner__quote {
	width: 665px;
	background-color: #333333;
	padding: 47px 50px 47px 60px;
}

.quote__autor {
	text-align: left;
}

.quote__text {
	margin-top: 40px;
	text-align: justify;
	letter-spacing: 0;
	font-weight: 300;
}